.container {
    max-width: 850px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 150px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px; /* Vertically center the text there */
    height: 150px; /* Set the fixed height of the footer here */
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
  footer p {
    margin-bottom: .25rem;
}

  /* End of sticky footer */

body {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    section {
        margin-top: 5rem;
    }
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

p {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

a {
    color:black !important;
}

a:hover {
    color: #111;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar, .dropdown-item {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}
  